 body {
    background-color: white;
}

.wrapper {
    text-align: center;
}

.logo {
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    -webkit-animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.logo img {
    width: 50%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.fa-play {
    font-size: 3em;
    color: white;
}

#infoElement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    height: 100%;
}

.main {
    background-color: #F5F5F5;
    padding-bottom: 100px;
    margin-top: 50px;
}

.films {
    margin: 20px;
    width: 25%;
    background-color: white;
    padding: 10px:
}

.filmDescription {
    width: 70%;
    text-align: left;
}

h3,h4 {
    font-family: 'Josefin Sans', sans-serif;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  border-bottom: 2px solid black;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 20px;
      line-height: 1.6;
}

#category {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    border-style: none;
    outline-style: none;
    width: 25%;
    margin: 10px;
    padding: 20px 5px;
    background-color: white;
    border-bottom: 2px solid #DB4622;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 1.2em;
}

button:focus {
    background-color: #DB4622;
    color: white;
}

#searchButton {
    width: 55%;
    height: 60px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 100px;
    box-shadow: none;
    font-size: 1.8em;
    border: none;
    color: black;
}

#searchButton:focus {
    display: none;
}

#searchButton:active {
    background-color: #DB4622;
    color: white;
}

#input {
    height: 60px;
    width: 50%;
    font-size: 1.8em;
    padding-left: 10px;
    margin-top: 50px;
    border: solid 1px black;
    background-color: white;
}

.bounce {
    margin-bottom: 20px;
    width: 30%;
    position: absolute;
    -webkit-animation: bounce 0.8s infinite;
}

@-webkit-keyframes bounce {
    0% {
        bottom: 10px;
    }
    25%,
    75% {
        bottom: 25px;
    }
    50% {
        bottom: 30px;
    }
    100% {
        bottom: 0;
    }
}

.bounce img {
    width: 20%;
    opacity: 0.7;
}


/* Smartphones (landscape) ----------- */


/*
@media only screen and (min-width : 321px) and (orientation : landscape){

.logo{
    height:100vh;
    
}
.logo img{
	width:40%;
    margin-bottom:20px;
    margin-top:20px;
        
}
button{
    background-color:none;
    }
    
    
*/


/*
    @media only screen and (min-device-width : 768px) and (max-device-width : 1030px) 
and (orientation : landscape) {
        
.logo{
    height:100vh;
    }
    
    #category{
        flex-wrap: nowrap;
    }
    button{
    width:50%;
    margin:5px;
    padding: 3px 0px;
    }
    
    .logo img{
	width:60%;
        
}*/

@media only screen and (min-device-width: 768px) {
    .main {
        margin-top: 0px;
 }
.logo img {
        width: 30%;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 100px;
}
#searchButton {
        width: 10%;
        height: 30px;
        font-size: 1em;
        margin-top: 0px;
        padding: 0px;
}
#searchButton:hover {
        background-color: #DB4622;
        color: white;
}
#input {
        height: 20px;
        width: 25%;
        font-size: 1em;
        padding: 5px;
}
button {
        width: 8%;
        padding: 5px 5px;
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: black;
        font-size: 0.8em;
}
button:hover {
        background-color: #DB4622;
        color: white;
}
#category {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
